body{
    text-align: center;
    
}
#apps{
    width: 100%;
    height: 800px;
    background-color: azure;
}
#games{
  width: 100%;
  height: 800px; 
  background-color:chocolate ;
}
#chatbot{
     width: 100%;
    height: 800px;
    background-color:coral ;
}
img{
    transition: transform .2s;
}
img:hover{
    transform: scale(0.9);
    
}